<phpunit colors="true" stopOnError="true">
    <testsuites>
        <testsuite name="counterStatic">
            <directory suffix="CounterStaticTest.php">test</directory>
        </testsuite>
        <testsuite name="CounterTest">
            <directory suffix="CounterTest.php">test</directory>
        </testsuite>
        <testsuite name="mathTest">
            <directory suffix="mathTest.php">test</directory>
        </testsuite>
        <testsuite name="personTest">
            <directory suffix="personTest.php">test</directory>
        </testsuite>
    </testsuites>
</phpunit>